.title{
    color: black;
    font-size: 40px;
    font-weight: bold;
}

.missions{
    margin: 20px 50px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.mission{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

.missionSearch{
    width: 100%;
}

.missionbtn button a{
    text-decoration: none;
}

.missionbtn button:hover {
    background-color: rgb(233, 183, 91);
}

.requestBtn{
    float: right;
}

.missionRadioBtn{
    margin-bottom: 30px;
}

.missionContent{
    grid-column-start: 1;
    grid-column-end: 3;
    padding:30px 50px;
}

.missionContent p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.votes{
    float: right;
}

.missionDetailContainers{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.returnBtn{
    margin-top: 50px;
    margin-left: 100px;
}

.missionContent p{
    margin-left: 0;
}


.detailContainter{
    align-items: center;

}

.missionDetail{
    margin: 40px 200px;
}

.missionDetail p{
    margin-left: 0px;
}