.title{
    color: black;
    font-size: 40px;
    font-weight: bold;
}

.missions{
    margin: 20px 50px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.mission{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

.missionSearch{
    width: 100%;
}
.missionbtn button{
    background-color:rgb(26,38,52);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
}

.missionbtn button a{
    text-decoration: none;
}

.missionbtn button:hover {
    background-color: rgb(233, 183, 91);
}

.requestBtn{
    float: right;
}

.missionRadioBtn{
    margin-bottom: 30px;
}

.missionContent{
    grid-column-start: 2;
    grid-column-end: 4;
    padding:30px 50px;
    border: 1px solid grey ;
}

.missionContent p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.missionDetailContainers{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.returnBtn{
    margin-top: 50px;
    margin-left: 100px;
}

