.sidenav {
    width: 200px;
    padding-top: 20px;
    margin-top: 5px;
    height: 100%;
    position: fixed;
  }

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #1A2634;
  }

.title{
  margin-bottom: 20px;
}

.top {
  margin-top: 30%;
}
.categoryLabel {
  padding: 6px 8px 6px 16px;
  font-size: 24px;
  color: #1A2634;
  display: block;
}

.radioBtn{
  margin-bottom: 20px;
  margin-top: 40px;
}
.content{
  margin-top: 100px;
}