.auth{
  background-image: url('../Image/bkimg2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 1050px;
  padding-top: 3%;
}

.authContainer{
  width: 400px;
  padding: 25px 28px;
  background: white;
   border-radius: 4px;
  border: 1px solid #867c7c;
  border-radius: 10px;
  float: right;
  margin-right: 10%;
}

  .authHeading{
      color: black;
      margin-top: 10px;
      margin-bottom: 20px;
  }

  .regLabel{
      margin-bottom: 10px;
  }


  input[type=text],input[type=email], input[type=password] {
      width:100%;
      padding: 15px;
      margin: 5px 0 20px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }
  
  .btn {
      background-color: #1A2634;
      color: white;
      padding: 16px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }
  
  .btn:hover{
    background-color: #867c7c;
  }

  .redirect{
      float: center;
      text-align: center;
      margin-top: 10px  ;
  }

  .redirect a{
      color: #236fc5;
      font-size: 16px;
  }
  
  .TypeBtn{
    margin-left: 540px;
  }
 
  .selectionBox{
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .category-label{
    margin-bottom: 5px;
  }