.category ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }

.category li {
    float: left;
}

.category{
    border-bottom: 1px solid #1A2634;
}
.category li a {
    display: block;
    color:#1A2634;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.category li a:hover {
    color: rgba(192, 142, 49, 1);
    font-weight: bold;
}


input[type=text] {
    width: 100%;
    background-color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid black;
  }

.search{
    width: 60%;
}

.content {
    margin: 30px 20px 50px 20px;
    padding-left: 20px ;
    padding-right: 20px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(min-content, max-content);    
    gap:60px;
    box-sizing: border-box;
    padding-bottom: 100px;
}

.contentItem{
    border: 1px solid black;
    padding: 20px 20px;
    height: 300px;
    border-radius: 10px;
    position: relative;
}

.contentItem:hover{
    box-shadow: 1px 2px 5px #888888;

}

.search{
    margin-left: 35%;
    width: 500px;
    margin-top: 50px;
}

.radioBtn{
    margin-left: 35%;
    margin-top: 0;
    padding-left: 90px;
}

.contentItem a{
    color: black;
}

.contentItem p{
    color: grey;
    margin-top: 15px;
}

.actionbtn{
    position: absolute;
    bottom: 0;
}

.readmore{
    color: #1A2634;
    float: right;
}

.readmore:hover {
    color: darkgoldenrod;
}

.resultAction{
    margin-top: 30px;
    position: relative;
    bottom: 0px;
}

.resultCard{
    border: 1px solid grey;
    margin-bottom: 30px;
    position: relative;
    min-height: max-content;
    padding: 20px 40px 30px 40px;
}

