.ProfileContainer{
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: left;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;

}


.Card{
    width: 500px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
    margin-top: 40px;
    
    

}
.Upper-container{
    height: 100px;
    background-color: #1A2634;

}

.image-container img{
    background-color:white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(95px,45px);
}

.img{
    border: 2px solid #8e00b9;
}
.lower-container{
    margin-top: 60px;
    height: 300px;
    background-color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.lower-container h3,h4,p{
    margin: 20px;
    padding: 0;


}

.button{
    margin: 1rem;
    margin-top: 0;
    color: black;
    font:bold;
    background-color: white;
    border: 2px solid black;
    padding: 0.6rem;
    transition-duration: 0.5s;
    animation: ease-in-out;
    margin-top: 120px;
}

.button:hover{
    background-color: #1A2634;
    opacity: 0.5;
    color: white;

}
.navlink{
    color: black;
}
.navlink:hover{
   
    color: white;
}