
.Container{
    display:flex;
    justify-content:space-evenly;
    margin: 80px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    width: 60%;
    height: 350px;
    align-items: center;
    position: relative;
    margin-left: 20%;
}
.recommendationContainer{
    display: inline-block;
    padding: 10px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    width: 60%;
    height: 350px;
    margin: 30px 0 10px 17%; 
}
.articleContainer{
    display: inline-block;
    padding-top: 0;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    width: 50%;
    height: max-content;
    margin: 30px 0 10px 30%; 
}
.page {
    display: flex;
    justify-content: center;
}

.singleArticleContainer{
    border: 1px solid black;
    width: 70%;
    padding-left: 50px;
    padding-right: 50px;
}
.singleImg{
    width: 700px;
    border: 1px solid black;
    margin-left: 17.5%;
}
.ArtiContainer{
    display: block;
    justify-content: center;
    align-items: center;
}
.articlesContainer {
    display: block;
    justify-content: center;
    margin-left: 100px;
    margin-top: 100px;
}

.artiContent{
 margin-left: 300px;
 margin-top: 30px;
}

.artiBtn{
    margin-top: 100px;
    margin-left: 40px;
}

.category{
    border-bottom: 1px solid #1A2634;
}

.category ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }

.category li {
    float: left;
}


.category li a {
    display: block;
    color:#1A2634;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.category li a:hover {
    color: rgba(192, 142, 49, 1);
    font-weight: bold;
}