
.Container{
    display:flex;
    justify-content:space-evenly;
    margin: 80px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    width: 60%;
    height: 350px;
    align-items: center;
    position: relative;
    margin-left: 20%;
}
.recommendationContainer{
    display: inline-block;
    padding: 10px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    width: 60%;
    height: 350px;
    margin: 30px 0 10px 17%; 
}